html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar{
  background-color: #69c934;
}

#logo-name{
  font-size: 30px;
}

#navitem{
  font-size: 20px;
}