@model List<E_commerce.CustomerSite.Models.Medicine>
<h3>Medicines</h3>
<ul>
    @foreach (var medicine in Model)
    {
        <li>@medicine.ten_thc</li>
        <li>@medicine.gia_ban</li>
        <a asp-area="" asp-page="/Product/Detail" asp-route-id="@medicine.Id_thc" style="color:#0F0668; text-decoration:none;">Detail</a>
    }
</ul>