<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets --> 
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <title>@ViewData["Title"] CustomerSite</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/E_commerce.CustomerSite.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="header_section">
		<div class="container">
            <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CustomerSite</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" id="navitem" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="navitem" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-end">
                            <li class="nav-item">
                                <a class="nav-link" id="navitem" asp-area="" asp-controller="" >Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="navitem" asp-area="" asp-controller="">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
		</div>
	</div>
        <!-- banner section start -->
        <div class="layout_padding banner_section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="banner_taital">All You Need Is Here & Classified</h1>
                        <div class="banner_bt">
                            <button class="read_bt">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner section end -->
    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - E_commerce.CustomerSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Javascript files-->
      <script src="~/js/jquery.min.js"></script>
      <script src="~/js/popper.min.js"></script>
      <script src="~/js/bootstrap.bundle.min.js"></script>
      <script src="~/js/jquery-3.0.0.min.js"></script>
      <script src="~/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="~/js/custom.js"></script>
      <!-- javascript --> 
      <script src="~/js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
      </script> 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
